SGX_INSTANCE_ID=123
L1_NETWORK=bsc_testnet
NETWORK=moonchain_hudson
RUST_LOG=debug
### Use BSC full node RPC whenever possible, public nodes generally do not possess full functionality or have limitations.
BSC_TESTNET_RPC=https://bsc-testnet.blockpi.network/v1/rpc/your_blockpi_api_key
MOONCHAIN_HUDSON_RPC=https://hudsonr-rpc.mchain.ai

# OR Replace your local Moonchain RPC Node 
# MOONCHAIN_HUDSON_RPC=http://host.docker.internal:8545
